---
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
    <div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, corporis dolorem eos esse fugit hic illum incidunt
        ipsam laborum laudantium magni, molestiae, nulla numquam obcaecati repudiandae ut vel vero voluptatem.
    </div>
</Layout>
